.parent{
    display: grid;
    grid-template-columns:60% 20% 20% 20%;
  /* grid-template-columns: repeat(3,4fr); /*fraction  1fr --> 1part of available space  3 fr- 3 part of available space*/
   /* grid-column-gap: 14px;
    grid-row-gap:14px;
    */
  
    grid-gap:14px;
}

.first{
    background-color: green;
    height: 30px;
}
.second{
    background-color: brown;
    height: 30px;
}

.third{
    background-color: yellow;
    height: 30px;
}

.fourth{
    background-color: blue;
    height: 30px;
}




