.body{
    /**
    Declaration block
    here all your css rules go
    **/

    background: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
}

#heading{
    color: brown;

}

#wall{
    background-color: pink;
}